{% extends "occ_survey/base.html" %}

{% load staticfiles %}

{% block head_block %}
<link href="{% static 'occ_survey/bootstrap/css/bootstrap-switch.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}

<div class="container">
	
	<div class="row">
		<div class="col-sm-12">
		<div class="index-section">
			<h3>Uncompleted Tasks:</h3>
			<ul>
				{% if user_profile.profile_isDone == 0 %}
				<li><a href="{% url 'occ_survey:survey' 'profile' %}">Complete Profile Questionnaire</a></li>
				{% endif %}
				{% if user_profile.comfort_isDone == 0 %}
				<li><a href="{% url 'occ_survey:survey' 'comfort' %}">Complete Comfort Questionnaire</a></li>	
				{% endif %}
			</ul>
			{% if user_profile.profile_isDone == 1 and user_profile.comfort_isDone == 1 %}
			<p>No current tasks.</p>
			{% endif %}
		</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
		<div class="index-section-head">
			<h3>My Controls: <span class="h2">{{ user_profile.room }}</h2></span></h3>
		</div>
		</div>

		<div class="col-sm-6">
		<div class="index-section" style="height: 300px">
			<div class="status-box">
				<h4>Status <span id="time_updated" class="h6"></span></h4>
				<p></p>
				<p>Lights: <input id="lightSwitch" type="checkbox" data-off-text="OFF" data-on-text="ON" class="lightSwitch" data-size="mini"></p>
				<p>Illuminance: <span id="lux_reading"></span> lux</p>
				<p><button id="refresh_status" class="btn btn-xs btn-default">Refresh</button>
				
			</div>
		</div>
		</div>
		<div class="col-sm-6">
		<div class="index-section" style="height: 300px;">
			<div class="status-box">
				{# block for settings #}
				{% if user_profile.room == "G26.1" or user_profile.room == "G26.2" or user_profile.room == "G31.1" or user_profile.room == "G31.2" %}
				<h4>Settings</h4>
				<p>Due to the malfunction of the motion sensors in your office, the control system is at the moment inactive.</p>
				<p>We are working to resolve the issue.</p>

				{% else %}
				<h4>Settings</h4>
				<form id="change-settings-form" class="form-inline" method="post" action="">
				{% csrf_token %}
					
					<p data-toggle="tooltip" data-placement="left" data-delay= '{ "show": 100, "hide": 300 }' title="The control will switch off the lights after this amount of inactivity.<br>Value between 1 and 15.">Min. Inoccupancy Time Delay: <span id="td_setting"></span> mins 
					<input style="height: 25px; width: 57px; float:right" type="text" class="form-control change-settings hidden" id="td_setting_new" name="td_setting_new" placeholder="Min. Time Delay" value="" ></p>
					
					<p data-toggle="tooltip" data-placement="left" data-delay= '{ "show": 100, "hide": 300 }' title="The control will switch on the lights when the illuminance falls below this value.<br>Value between 0 and 500.<br>Set this value to 0 if you want to stop the control from turning the lights on.">Min. Illuminance Threshold: <span id="lux_th"></span> lux 
					<input style="height: 25px; width: 57px; float:right" type="text" class="form-control change-settings hidden" id="lux_th_new" name="lux_th_new" placeholder="Min. Illuminance Threshold" value="" ></p>
					
					<p data-toggle="tooltip" data-placement="left" data-delay= '{ "show": 100, "hide": 300 }' title="The control will switch off the lights when the illuminance goes above this value.<br>Max value of 1500.">Max. Illuminance Threshold: <span id="upp_th"></span> lux 
					<input style="height: 25px; width: 57px; float:right" type="text" class="form-control change-settings hidden" id="upp_th_new" name="upp_th_new" placeholder="Max. Illuminance Threshold" value="" ></p>
					<input type="text" class="hidden" name="room" value="{{ user_profile.room }}">
				</form>	

				<button type="button" id="refresh_settings" class="btn btn-default btn-xs">Refresh</button>
				<button type="button" id="change_settings" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" data-delay= '{ "show": 100, "hide": 1000 }' title="This will allow you to override the control set points.<br>Do not change anything if you do not know what you are doing.<br>Refer to <a href='{% url 'about' %}#about-control' target='_blank'>About</a> for more details on how the control works.">Change Settings</button>
				&nbsp;<button type="button" id="submit_settings" class="btn btn-primary btn-xs change-settings hidden">Submit</button>
				<br/><br/>
				<div id = "override_status" class="hidden">
					<p style="color: #DB6480;">User Override is currently Active!</p>
					<form id="override-form">
						{% csrf_token %}
						<button type="button" id="override" class="btn btn-danger btn-sm">Click here to disable override and return to default settings.</button>
						<input type="text" class="hidden" name="room" value="{{ user_profile.room }}">
					</form>
				</div>
				{% endif %}
				
			</div>
		</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
		<div class="index-section">
			<div class="form-inline">
			<h3>Statistics: 
			{% if user.username == "admin" or  user.username == "zoltan" %}
			<span>
				<select id="selected_room" class="form-control">
					<option value="" selected>--Select a Room--</option>
					<option value="g22">G22</option>
					<option value="g23">G23</option>
					<option value="g24">G24</option>
					<option value="g25_1">G25.1</option>
					<option value="g25_2">G25.2</option>
					<option value="g26_1">G26.1</option>
					<option value="g26_2">G26.2</option>
					<option value="g31_1">G31.1</option>
					<option value="g31_2">G31.2</option>
					<option value="g32_1">G32.1</option>
					<option value="g32_2">G32.2</option>
					<option value="rpi_0">RPi_0</option>
				</select>
			</span>
			{% endif %}
			<span><button type="button" id="db_toggle_charts" class="btn btn-default btn-sm">Show</button></span>
			</h3>
			</div>
			
			
			
			<div id="charts" class="hidden">
			<h4>Room <span id="chart_room"></span> | Lighting Energy Consumption and Occupancy* for the past week:</h4>
			<p style="font-size:12px">*values for occupancy are approximated and may not reflect the actual time of occupancy in the office</p>
			<br>
			<div id="myChart2" style="height: 400px; width: 100%"></div>
			
			</div>
			
			
		</div>
		</div>
	</div>
	<!-- end block for controls and chart -->
	

</div>

{% endblock %}

{% block script_block %}
<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1.1',
              'packages':['corechart']
            }]
          }"></script>
          
<script>
	// url called in ajax_get_script in dashboard.js
	var default_room = "{{ user_profile.room }}"; 
	var url_charts = "{% static 'occ_survey/js/charts.js' %}";
	var url_get_status = "{% url 'get_status' %}";
	var url_get_override_status = "{% url 'get_override_status' %}";
	var url_get_chart_data = "{% url 'occ_survey:chart_cons' %}";
	var url_remote = "{% url 'remote' %}";
	var username = "{{ user.username }}";
</script>
<script src="{% static 'occ_survey/bootstrap/js/bootstrap-switch.min.js' %}"></script>
<!-- js for dashboard.html page -->
<script src="{% static 'occ_survey/js/dashboard.js' %}"></script>
{% endblock %}