{% extends "occ_survey/base.html" %}

{% load staticfiles %}


{% block body_block %}

	<div class="container">
	<div class="header">
	<h2>Hello {{ user.first_name }}</h2>
	<h1>{{ survey_cat.title }} Questionnaire</h1>
	<p>{{ survey_cat.desc }}</p>
	</div>
	
	<br />
	<form id="profile-survey" class="form-group" action="{% url 'occ_survey:submit_survey' %}" method="post">
	{% csrf_token %}	
		{% if question_list %}
		{% for question in question_list %}
		<div class="choice-box">
			<!-- <h4 style="margin-left:10px">Question {{ forloop.counter }}:</h4> -->
		
			<div class="panel panel-default panel-choices">
				<div class="panel-heading">
					<h3 class="panel-title">{{ question.question_text }}</h3>
				</div>
			</div>
		
			<div class="table">
				<table class="table table-condensed table-choices">
					<!--	separate into the types of questions	 -->
					{% if question.choice.type == "radio" %}
					<tr>
						{% for each in question.choices %}
							{% if each %}
							<td>{{ each }}</td>
							{% endif %}
						{% endfor %}
					</tr>

					<tr>
						{% for each in question.choices %}
						{% if each %}
						<td><input type="radio" name="Q{{ forloop.parentloop.counter }}" value="{{forloop.counter}}"></td>
						{% endif %}
						{% endfor %}
						<input type="hidden" name="Q{{ forloop.counter }}_id" value={{ question.id }}>
					</tr>
					{% elif question.choice.type == "open" %}
					<tr>
						<td><textarea class="form-control" name="Q{{ forloop.counter }}" placeholder="Text input" rows="3"></textarea></td>
						<input type="hidden" name="Q{{ forloop.counter }}_id" value={{ question.id }}>
					</tr>
					{% endif %}
				</table>
			</div>
		</div>
			{% if forloop.last %}
			<input type="hidden" name="question_count" value="{{forloop.counter}}">
			{% endif %}
		{% endfor %}
		
		<input type="hidden" name="survey_cat" value="{{survey_cat.cat}}">
		{% endif %}
	
		<div class="choice-box">	
		<p>Please make sure you have filled out all the questions before clicking on submit.</p>
		<p><input id="profile-submit" class="btn btn-default" type="submit" value="Submit" disabled="disabled"></p>
		</div>
	</form>
	
		<p id="debug"></p>
{% endblock %}
{% block script_block %}
	<script src="{% static 'occ_survey/js/profile.js' %}"></script>
{% endblock %}